:root {
  --text-white-color: rgba(255, 255, 255, 0.75);
  --body-background-color-1: #121212;
  --body-background-color-2: #202020;
  --window-border-color-1: #505050;

  --button-color-1:#5C1AF6;
  --button-color-2: #8d32f5;
  --button-text-color: rgba(255, 255, 255, 0.9);
  --shadow-color: rgba(0, 0, 0, 0.7);

  --info-color-1: #461aac;
  --info-color-2: #5C1AF6;
  --info-color-3: #8d32f5;
  --warning-color-1: #d14d01;
  --warning-color-2:#f87031;
  --warning-color-3:#ff864f;
  --error-color-1:#a71717;
  --error-color-2:#c73333;
  --error-color-3: #db4848;
}

body {
  background-color: var(--body-background-color-1);
  color: var(--text-white-color);
  
  font-family:Arial, Helvetica, sans-serif;
}

.inline {
  display: inline-block;
}

#siteContentSection{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 95vh;
}

#buttonsCont{
  margin-top: auto;
}

button{
  background-color: var(--button-color-1);
  background: linear-gradient(135deg, var(--button-color-1), var(--button-color-2));
  border: 0px;
  border-radius: 10rem;
  box-shadow: 0 0.5rem 0.7rem 0 var(--shadow-color);

  margin-left: 1.5rem;
  margin-right: 1.5rem;
  padding-left: 2rem;
  padding-bottom: 1rem;
  padding-top: 1rem;
  padding-right: 2rem;

  text-align: center;
  color: var(--button-text-color);
  font-size: 1.3rem;
  transition-duration: 0.5s;
}

button:hover{
  transition-duration: 0.2s;
  filter: brightness(0.85);
}

button:active{
  transition-duration: 0.05s;
  filter: brightness(1.2);
}

#toastSection{
  position: absolute;
  left: 0;
  top: 0;
}

.toastNotificationContainer{
  font-weight: bold;
  font-size: 1.1rem;

  width: 20vw;
  border-radius: 1rem;
  box-shadow: 0 0.5rem 0.7rem 0 var(--shadow-color);

  display: flex;
  padding: 0.8rem;
  margin: 1rem;

  transition-duration: 0.2s;
}

.toastSymbol{ 
  width: 2rem;
  margin-right: 0.8rem;
}

.toastText{
  display: flex;
  justify-content: center;
  align-items: center;
}

.infoToast{
  border: 0.2rem solid var(--info-color-1);
  background: linear-gradient(135deg, var(--info-color-2), var(--info-color-3));
}

.warningToast{
  border: 0.2rem solid var(--warning-color-1);
  background: linear-gradient(135deg, var(--warning-color-2), var(--warning-color-3));
}

.errorToast{
  border: 0.2rem solid var(--error-color-1);
  background: linear-gradient(135deg, var(--error-color-2), var(--error-color-3));
}

#menuSection{
  position: absolute;
  right: 0;
  top: 0;
}

.menuIcon{ 
  width: 3rem;
  margin-top: 0.8rem;
  margin-right: 0.8rem;
}

#settingsDialog{
  background-color: var(--body-background-color-2);
  color: var(--text-white-color);

  border: 0.13rem solid var(--window-border-color-1);
  border-radius: 1rem;

  width: 40vw;
  height: 80vh;
}

#settingsForm{
  gap: 1rem 1rem;

  /* height: 80vh; */
}

.settingsLabel{

  display:grid;
  width: 100%;
  grid-template-columns: auto 1fr;
}

#decksInput{
  width:max-content;
}

#saveSettingsButton{
}
